#container-room h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
}
#container-room #container {
  padding: 20px;
  display: flex;
  height: 100vh;
  width: 90%;
  margin: 20px;
  flex-wrap: wrap;
}

#container-room #container .styleVideo {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
